header a{
    line-height: 80px;
}
header li{
    display: inline-block;
    width: 120px;
    text-align: center;
    font-size: 18px;
}
header li>a{
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    
}
header li>.active{
    color:#fd7962;
    border-bottom: 2px solid #fd7962;
}
/* 轮播 */
.lb{
    position: relative;
}
.lb>img{
	height: 580px !important;
}
.lb img{
    width: 100%;
    height: 600px;
}
.lb>.pic>img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 1s;
}
.lb>.pic>.active{
    opacity: 1;
}
.lb>ul{
    position: absolute;
	bottom: 40px;
	left: 50%;
	margin-left: -40px;
}
.lb>ul>li{
    list-style: none;
	width: 20px;
	cursor: pointer;
    height: 20px;
    border: 1px solid #fff;
	border-radius: 50%;
    display: inline-block;
    z-index: 99;
    transition: all 1s;
}
.lb>ul>li.active{
    background: #f5f5f5;
    width: 40px;
    border-radius: 10px 10px;
}

/*新闻动态*/
.sy{
	text-align: right;
	margin-top: 30px;
	font-size: 14px;
}

.sy>span.active{
	font-size: 14px;
	color: red;
}
.sy>span.none{
	display: none;
}
.sy>hr{
	margin-left: 64px;
	border-top: 1px solid #666;
	margin-top: 0px
}
.news{
	display: flex;
    justify-content: space-between;
}
.news>div:first-child{
	width: 145px;
	font-size:20px ;
	padding: 5px 0 0 9px;
	position: relative;
	top: -20px;
}  

.news>div:first-child div:nth-of-type(1){
	border-left: 1px solid #666;
	border-bottom: 1px solid #666;
	width:15px ;
	height: 15px;
	position: absolute;
	top:16px;
    left: -10px;
}
.news>div:first-child div:nth-of-type(2){
	border-right: 1px solid #666;
	width:15px ;
	height: 15px;
	right: 46px;
    top: -1px;
	position: absolute;
}
.news>div:first-child>a:hover{
	color: red;
}
.news>div:first-child>ul{
	border-left: 1px solid #666;
	padding: 23px;
    position: relative;
    left: -12px;
    cursor: pointer;
}
.news>div:first-child>ul>hr:nth-of-type(1){
	position: absolute;
    width: 13px;
    top: 35px;
    left: -1px;
}
.news>div:first-child>ul>hr:nth-of-type(2){
	position: absolute;
    width: 13px;
    top: 80px;
    left: -1px;
}  
.news>div:first-child>ul>hr:nth-of-type(3){
	position: absolute;
    width: 13px;
    top: 120px;
    left: -1px;
} 
.news>div:first-child>ul>hr:nth-of-type(4){
	position: absolute;
    width: 13px;
    top:160px;
    left: -1px;
} 
.news>div:first-child>ul>li{
	width: 110px;
	margin-bottom: 15px;
}
.news>div:first-child>ul>li .yc{
	opacity: 0;
}
.newsUl>.active>span:first-child{
	color: red;
}
.news .newsUl>.active>span.yc{
	opacity: 1;
}
.news .newsUl hr{
	border-top: 1px solid #777;
	margin-top: 0;
}
/*关于我们的内容部分*/
.news .us{
	width: 1000px;
	margin: 70px 0;
}

/*刘清扬*/
.usT{
	display: flex;
	margin-bottom: 30px;
	justify-content: space-between;
}

.usT hr{
	width: 90%;
    margin-left: 0;
} 
.usT .cont1{
	position: relative;
}  
.usT .cont img{
    position: absolute;
    top: 31px;
    left: 0;
}
.usT h5{
	display: inline;
	padding: 15px 0;
	margin: 20px 0 10px 0;
	border-bottom: 1px solid #666;
}    
.usT h5>span:nth-child(1){
	font-size: 20px;
}
.usT h5>span:nth-child(2){
	font-size: 14px;
	color: #666;
}
.usT p,.usBT p{
	width: 97%;
	line-height: 2;
    font-size: 14px;
    color: #666;
    position: relative;
    margin: 34px 0 20px 0;
}
.usBT{
	position: relative;
	margin-top: 50px;
}
.usBT>hr{
   margin: 15px 0 30px 0;
}
.usBT>img{
    position: absolute;
    top: 31.5px;
}
.usBT h5{
	margin: 20px 0 10px 0;
}    
.usBT h5>span:nth-child(1){
	font-size: 20px;
}
.usBT h5>span:nth-child(2){
	font-size: 14px;
	color: #666;
}
.usB>ul:nth-of-type(1){
	display: flex;
	justify-content: space-between;
}
.usB>ul:nth-of-type(1)>li{
	width: 22%;
}
.usB>ul:nth-of-type(1)>li>img{
	width: 100%;
}
.usB>ul:nth-of-type(2){
	text-align: center;
	margin: 40px;
}
.usB>ul:nth-of-type(2)>li{
	display: inline-block;
	cursor: pointer;
	margin: 0 10px;
}
.usB>ul:nth-of-type(2)>li:nth-of-type(1),.usB>ul:nth-of-type(2)>li:last-child{
	text-align: center;
	line-height: 20px;
}
/*底部*/
footer{
	margin-top: 50px;
	text-align: center;
	color: #fff;
	line-height: 90px;
	width: 100%;
	background:#666 ;
}

@media screen and (max-width:1024px){
	.lb{
		width:1200px;
	}
	footer{
		width:1200px;
	}
}
body a{
	color: #777 !important;
	text-decoration: none !important;
}
